[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3.2,<4.0"
djangorestframework = "*"
django-environ = "*"
psycopg2 = "*"
gunicorn = "*"
uwsgi = "*"

[dev-packages]
drf-yasg = "*"
docutils = "*"
isort = "*"
pytest-django = "*"
django-extensions = "*"
ipython = "*"
coverage = "*"
autopep8 = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.8"
